<section class="features-list">
  <h2>Features</h2>
  <div class="features-bg"></div>
  <div class="container">
  <div class="row center features-row">
    <div class="col-4 my-1">
      <div class="feature-card">
        <div class="feature-card-title">
          <img src="/images/icons/keyboard.svg">
          <h3>Keyboard Lighting</h3>
        </div>
        <div class="feature-card-body">
          <p>
            Whether your keyboard only has single zone or per-key RGB, you can get your favourite setting in just a few clicks
          </p>
        </div>
      </div>
    </div>
    <div class="col-4 my-1">
      <div class="feature-card">
        <div class="feature-card-title">
          <img src="/images/icons/anime.svg">
          <h3>AniMe Matrix</h3>
        </div>
        <div class="feature-card-body">
          <p>
            If your notebook has an AniMe Matrix display, you can configure awesome custom animations to express yourself
          </p>
        </div>
      </div>
    </div>
    <div class="col-4 my-1">
      <div class="feature-card">
        <div class="feature-card-title">
          <img src="/images/icons/fan.svg">
          <h3>Custom Fan Curves</h3>
        </div>
        <div class="feature-card-body">
          <p>
            Customise your fan curves based on profile, so you always have your preferred balance between fan noise and temperature
          </p>
        </div>
      </div>
    </div>
    <div class="col-4 my-1">
      <div class="feature-card">
        <div class="feature-card-title">
          <img src="/images/icons/gpu.svg">
          <h3>Easy Graphics Switching</h3>
        </div>
        <div class="feature-card-body">
          <p>
            Quickly switch between graphics modes - it's never been easier to switch between integrated and dedicated graphics
          </p>
        </div>
      </div>
    </div>
    <div class="col-4 my-1">
      <div class="feature-card">
        <div class="feature-card-title">
          <img src="/images/icons/vfio.svg">
          <h3>Dedicated VFIO Mode</h3>
        </div>
        <div class="feature-card-body">
          <p>
            If passing your GPU to a virtual machine is your idea of fun, our unique VFIO mode makes it easy to toggle - no more hardcoded kernel parameters!
          </p>
        </div>
      </div>
    </div>
    <div class="col-4 my-1">
      <div class="feature-card">
        <div class="feature-card-title">
          <img src="/images/icons/ac-power.svg">
          <h3>AC Power Commands</h3>
        </div>
        <div class="feature-card-body">
          <p>
            With asusctl you can assign commands or scripts that run when either the system is connected or disconnected from AC power
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>