{% extends "base.html" %}

{% block content %}
<section class="hero section">
  <div class="hero-bg"></div>
  <div class="hero-content section">
    <h1>{{ section.title }}</h1>
  </div>
</section>
<section class="section-index third-party">
  <div class="container">

    {{ section.content | safe }}
    {% for page in section.pages %}

    <article class="third-party-item">
      <h2>{{ page.title }}</h2>
      {{ page.content |safe }}

    </article>
    {% endfor %}
  </div>
</section>
{% endblock content %}